[submodule "projects/number-puzzle"]
	path = projects/number-puzzle
	url = https://github.com/swp1234/number-puzzle.git
[submodule "projects/biorhythm"]
	path = projects/biorhythm
	url = https://github.com/swp1234/biorhythm.git
[submodule "projects/aura-reading"]
	path = projects/aura-reading
	url = https://github.com/swp1234/aura-reading.git
